:root {
  --deep-purple: #7E56C2;
}

.js .md-typeset .tabbed-labels:before {
  background-color: var(--deep-purple);
}

.md-typeset .tabbed-set {
  border: 0.5px solid lightgray;
}

img.shadow {
  border-radius: 12px;
  box-shadow: var(--md-shadow-z1);
}

img.mobile-appearance {
    max-width: 300px;
    max-height: 700px;
}